<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DensityAPIHost</key>
	<string>$(DENSITY_API_HOST)</string>
	<key>DensityAPIReadKey</key>
	<string>$(DENSITY_API_READ_KEY)</string>
</dict>
</plist>
